/* Colors 
   Brown: #900
   Background: #fbfbfb
   Black: #252525
   Gray: #686868
*/


html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    line-height:1.6;
    font-size:1.6rem;
    background: #fbfbfb;
    color: #252525
}

.container {
    max-width: 96rem;
    margin:auto;
}

.logo{
    opacity: 0.8;
    position: fixed;
    top: 15px;
    transition: opacity 0.3s ease 0s;
    text-transform:uppercase;
    padding:10px;
    background: #900;
    font-size: 2.4rem;
}

.logo a {
    color: #fbfbfb;
    font-weight:bold;
}

h1 {
    color: #900;
}

a {
    text-decoration:none;
    color: #252525
}

a.link, a.visited {

}

a:hover {
    color: #000;
    text-decoration:underline;
}

.dim {
    color: #686868;
}

nav {
    display:none;
}

footer {
    margin-top: 1rem;
    max-width:48rem;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

footer hr {
    border:0px none;
    height:2px;
    width:25%;
    background-color:#686868;
}
footer span {
    margin: 0px 7px;
}

footer a {
    padding: 5px 7px;
}


@media screen and (max-width : 1200px) {
    .logo {
        position:relative;
    }
}
