<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{site.title}}</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'/>
    <link href="/css/main.css" rel="stylesheet"/>
    <link href="/css/syntax.css" rel="stylesheet"/>
  </head>
  <body>
      <header>
        <div class="logo">
          <a href="{{site.url}}" title="Udhan">{{site.title}}</a>
        </div>
        {% include nav.html %}
        <div class="container lang-selector">
          <ul>
            {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
            {% for post in posts %}
            <li>
              <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
            </li>
            {% endfor %}

            {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
            {% for page in pages %}
            <li>
              <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </header>
    <div class="container">
      <div class="content">
        {{content}}
      </div>
    </div>
    <footer>
      <hr/>
      <span><a href="https://twitter.com/udhanhq" title="Udhan twitter handle">@udhanhq</a></span>
      <span><a href="https://github.com/udhan" title="Udhan github account">Github</a></span>
    </footer>
  </body>
</html>
