<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{site.title}}</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'/>
    <link href="/css/main.css" rel="stylesheet"/>
  </head>
  <body>
      <header>
        <div class="logo">
          <a href="{{site.url}}" title="Udhan">{{site.title}}</a>
        </div>
        {% include nav.html %}
      </header>
    <div class="container">
      <div class="content">
        {{content}}
      </div>
    </div>
    <footer>
      <hr/>
      <span><a href="https://twitter.com/udhanLabs" title="Udhan twitter handle">@udhanLabs</a></span>
      <span><a href="https://github.com/udhan" title="Udhan github account">Github</a></span>
    </footer>
  </body>
</html>
